{% extends "layout.html" %}
{% set now_title = '编辑系统设置'%}

{% block web_title %}{{ now_title }}-{{ parent()}} {% endblock%}
{% block content%}
<div class="main-container">
	<!-- Top Bar Starts -->
	<div class="top-bar clearfix">
		<div class="page-title">
			<h4>
				<div class="fs1" aria-hidden="true" data-icon="&#xe007;">
				</div>
				{{ now_title }}
			</h4>
		</div>
	</div>
	<!-- Top Bar Ends -->
	<!-- Container fluid Starts -->
	<div class="container-fluid">
		<!-- Spacer starts -->
		<div class="spacer-xs">
			<div class="row no-gutter">
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>
								{{ now_title }}
							</h4>
						</div>
						<div class="panel-body">
							<form class="form-horizontal row-border" method="post" action="/admin/saveconf">
								<input type="hidden" name="id" value="{{ data.data.id }}"
								/>
								<div class="form-group">
									<label class="col-md-2 control-label">
										名称
									</label>
									<div class="col-md-10">
										<input type="text" name="name" class="form-control" value="{{ data.data.name }}" required="required" />
										<span class="help-block">
                                  推荐使用大写
                                </span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										值
									</label>
									<div class="col-md-10">
										<input type="text" name="value" class="form-control" value="{{ data.data.value }}" required="required" />

									</div>
								</div>
								<div class="form-group">
									<div class="col-md-10">
										<button type="submit" class="btn btn-info pull-right">
											提交
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
		<!-- Spacer ends -->
	</div>
	<!-- Container fluid ends -->
</div>
<!-- Main Container Start -->
{% endblock%}