.get {
    background: #1E5B94;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.get-title {
    font-size: 200%;
    border: 2px solid #fff;
    padding: 20px;
    display: inline-block;
}

.get-btn {
    background: #fff;
}

.detail {
    background: #fff;
}

.detail-h2 {
    text-align: center;
    font-size: 150%;
    margin: 40px 0;
}

.detail-h3 {
    color: #1f8dd6;
}

.detail-p {
    color: #7f8c8d;
}

.detail-mb {
    margin-bottom: 30px;
}

.hope {
    background: #0bb59b;
    padding: 50px 0;
}

.hope-img {
    text-align: center;
}

.hope-hr {
    border-color: #149C88;
}

.hope-title {
    font-size: 140%;
}

.about {
    background: #fff;
    padding: 40px 0;
    color: #7f8c8d;
}

.about-color {
    color: #34495e;
}

.about-title {
    font-size: 180%;
    padding: 30px 0 50px 0;
    text-align: center;
}

.footer p {
    color: #7f8c8d;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    background: #2d3e50;
}


@media only screen and (min-width: 1200px) {
    .blog-g-fixed {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 641px) {
    .blog-sidebar {
        font-size: 1.4rem;
    }
}
.blog-main {
    padding: 20px 0;
}

.blog-title {
    margin: 10px 0 20px 0;
}

.blog-meta {
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: #222;
}

.blog-meta a {
    color: #27ae60;
}

.blog-pagination a {
    font-size: 1.4rem;
}

.blog-team li {
    padding: 4px;
}

.blog-team img {
    margin-bottom: 0;
}

.blog-content img,
.blog-team img {
    max-width: 100%;
    height: auto;
}

.blog-footer {
    padding: 10px 0;
    text-align: center;
}