{% extends "layout.html" %}
{% block header%}
<title>{{ article.name}} - {{ conf.WEBTITLE}}</title>
<meta name="keywords" content="{{ article.keyword}}">
<meta name="description" content="{{ article.desc}}">
{% endblock %}
{% block content%}
<div class="am-g am-g-fixed blog-g-fixed am-margin-top-sm">
    <div class="am-u-md-3 blog-sidebar">
        <div class="am-panel-group">
            <section class="am-panel am-panel-default">
                <div class="am-panel-hd">博客目录</div>
                <ul class="am-list blog-list">
                    {% for a in articleList %}
                    <li><a href="/blog/{{ a.id}}">{{ a.name}}</a></li>
                    {% endfor%}
                </ul>
            </section>
        </div>
    </div>
    <div class="am-u-md-9">
        <article class="blog-main">
            <h3 class="am-article-title blog-title">{{ article.name}}
            </h3>
            <h4 class="am-article-meta">发布于 {{ article.createtime|date("Y/m/d")}}  最后修改于 {{ article.updatetime|date("Y/m/d")}} </h4>
            <div class="am-g blog-content">
                <div class="am-u-lg-12">
                    {{ article.content|raw}}
                </div>
            </div>
        </article>
        {% if is_comment %}
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1506374"></script>

        <!-- UY END -->
        {% endif%}
    </div>



</div>
{% endblock%}