<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Mosaddek">
		<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
		<link href="/assign/admin/css/bootstrap.min.css" rel="stylesheet">
		<title>
			需求管理
		</title>
	</head>
	<body>
	<form action="?" method="POST">
		搜索:<input type="text" name="name" value="" >
		<input type="submit" />
	</form>
		<table class="table table-striped table-advance table-hover">
			<thead>
				<th>
					ID
				</th>
				<th>名称</th>
				<th>到站时间</th>
				<th>
					操作
				</th>
			</thead>
			<volist name="data" id="val">
				<tr>
					<td>
						{$val.id}
					</td>
					<td>{$val.name}</td>
					<td><input type="time" class="time{$val.id}" placeholder="请填写到站时间" /></td>
					<td>
						<button class="select" data-id="{$val.id}" data-name="{$val.name}">
							选择
						</button>
					</td>
				</tr>
			</volist>
		</table>
		<script src="/assign/admin/js/jquery.js">
		</script>
		<script src="/assign/admin/js/layer/layer.js">
		</script>
		<script>
			var index = parent.layer.getFrameIndex(window.name);
			$('.select').on('click',
			function() {
				var station = $(this).attr('data-id');
				var train = '<?php echo $_GET['id'] ?>';
				var time = $('.time'+station).val();
				if(!time) {
					layer.msg('请填写到站时间',function(){});
					return false;
				}

		        //表单验证
		        $.post('{:U("train/ajaxbinding")}',{'station':station,'train':train,'time':time},function(data){
		            if(data.status != 0) {
		            	layer.msg(data.message,function(){});
		            	return false;
		            } else {
		                //注册成功
		                layer.msg(data.message);
		                
		                parent.location.reload();
		            }
		            
		        })
			});
		</script>
	</body>

</html>