<!DOCTYPE html>
<html>
<head lang="cn">
    <meta charset="UTF-8">
    <title>PPPHP框架</title>
    <meta name="keywords" content="PPPHP官网,PPPHP框架,PHP框架,ppphp">
    <meta name="description" content="PPPHP框架介绍说明，是一个灵活易扩展的PHP框架，无论你是PHP的初学者还是PHP大牛，相信PPPHP框架一定能够满足你的要求">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="/assign/app/assets/i/favicon.png">
    <link rel="stylesheet" href="/assign/app/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assign/app/css/index.css"/>

</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="/">PPPHP官网</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">

                <li {% if action == 'index' %}class="am-active" {% endif %}><a href="/">首页</a></li>
                <li {% if action == 'doc' %}class="am-active" {% endif %}><a href="/doc">文档</a></li>
            </ul>
{#
            <div class="am-topbar-right">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">中文</button>
            </div>

            <div class="am-topbar-right">
                <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">Englist</button>
            </div>
            #}
        </div>
    </div>
</header>

{% block content %}
<!-- content here -->
{% endblock %}

<footer class="footer">
    <p>模板来自 AmazeUI</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assign/app/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/assign/app/assets/js/amazeui.min.js"></script>
</body>
</html>
