<!DOCTYPE html>
<html>
<head lang="cn">
    <meta charset="UTF-8">
    {% block header %}
    <title>{{ conf.WEBTITLE}}</title>
    <meta name="keywords" content="{{ conf.KEYWORD}}">
    <meta name="description" content="{{ conf.DESC}}">
    {% endblock%}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/assign/app/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assign/app/css/index.css"/>
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="/">PPPHP官网</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">

                <li {% if action == 'index' %}class="am-active" {% endif %}><a href="/">首页</a></li>
                <li {% if action == 'doc' %}class="am-active" {% endif %}><a href="/doc">文档</a></li>
                <li {% if action == 'blog' %}class="am-active" {% endif %}><a href="/blog">博客</a></li>
            </ul>
{#
            <div class="am-topbar-right">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">中文</button>
            </div>

            <div class="am-topbar-right">
                <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">Englist</button>
            </div>
            #}
        </div>
    </div>
</header>

{% block content %}
<!-- content here -->
{% endblock %}

<footer class="footer">
    <p>模板来自 AmazeUI</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assign/app/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/assign/app/assets/js/amazeui.min.js"></script>
<div class="am-hide">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5945504'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D5945504' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<script type='text/javascript'>window.BWEUM||(BWEUM={});BWEUM.info = {"stand":true,"agentType":"browser","agent":"bi-collector.oneapm.com/static/js/bw-send-411.4.5.js","beaconUrl":"bi-collector.oneapm.com/beacon","licenseKey":"a3fZ6~6ZJJBZQNii","applicationID":2281553};</script><script type="text/javascript" src="//bi-collector.oneapm.com/static/js/bw-loader-411.4.5.js"></script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
复制代码

</body>
</html>
