.content {
    padding-left: 212px;
    padding-top: 75px;
}

.head-menu ul {
    vertical-align: bottom !important;
}

.head-menu ul li {
    border-top: 1px solid #B7B7B7;
    border-left: 1px solid #B7B7B7;
    border-right: 1px solid #B7B7B7;

}

.head-menu .pure-menu-selected {
    background: #FFFFFF;
    padding-bottom: 2px;
}

.head-menu .pure-menu-selected a:hover {
    background: #FFFFFF;
}

.head-menu .head-menu-info {
    float: right;
    margin-right: 10px;
    font-size: 90%;
    line-height: 1.5em;
}

.head-menu .head-menu-info a {
    display: inline;
    padding: 0;
    border: none;
    color: #000000;
}

.side {
    width: 200px;
    position: fixed;
    top: 75px;
    left: 210px;
    bottom: 0;
    margin-left: -200px;
}

.side-menu li a {
    padding: 5px 20px 5px 30px;
}
.side-menu-head {
    background: #E5E5E5;
    /*color: #FFFFFF !important;*/
    margin-top: 0 !important;
    line-height: 2.2em !important;
}
.side-menu .pure-menu-selected {
    background: #eee;
}

.main {
    margin-right: 10px;
    min-height: 500px;
}

.panel {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin-bottom: 10px;
    margin-left: 10px;
}

.panel-title {
    border-bottom: 1px solid #000000;
    padding: 5px 15px;
    font-size: 90%;
    line-height: 2.2em;
}

.panel-body {
    padding: 15px;
    font-size: 1em;
    line-height: 1.5em;
}

.panel-default {
    border-color: #B7B7B7;
}
.panel-default .panel-title {
    background-color: #e5e5e5;
    border-color: #DDDDDD;
    color: #333333;
}

.alert {
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 90%;
}

.alert h4 {
    color: inherit;
    margin-top: 0;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
/*.alert-dismissable {*/
    /*padding-right: 35px;*/
/*}*/
/*.alert-dismissable .close {*/
    /*color: inherit;*/
    /*position: relative;*/
    /*right: -21px;*/
    /*top: -2px;*/
/*}*/
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}
.alert-success hr {
    border-top-color: #C9E2B3;
}
.alert-success .alert-link {
    color: #2B542C;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
.alert-info hr {
    border-top-color: #A6E1EC;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
.alert-warning hr {
    border-top-color: #F7E1B5;
}
.alert-warning .alert-link {
    color: #66512C;
}
.alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}
.alert-danger hr {
    border-top-color: #E4B9C0;
}
.alert-danger .alert-link {
    color: #843534;
}

.label {
    border-radius: 0.25em;
    color: #FFFFFF;
    display: inline;
    font-size: 80%;
    /*font-weight: bold;*/
    line-height: 1em;
    padding: 0.2em 0.6em 0.2em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.label[href]:hover, .label[href]:focus {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.label:empty {
    display: none;
}
.label-default {
    background-color: #999999;
}
.label-default[href]:hover, .label-default[href]:focus {
    background-color: #808080;
}
.label-primary {
    background-color: #428BCA;
}
.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #3071A9;
}
.label-success {
    background-color: #5CB85C;
}
.label-success[href]:hover, .label-success[href]:focus {
    background-color: #449D44;
}
.label-info {
    background-color: #5BC0DE;
}
.label-info[href]:hover, .label-info[href]:focus {
    background-color: #31B0D5;
}
.label-warning {
    background-color: #F0AD4E;
}
.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #EC971F;
}
.label-danger {
    background-color: #D9534F;
}
.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #C9302C;
}

.breadcrumb {
    background-color: #F5F5F5;
    /*border-radius: 4px;*/
    margin: 0;
    list-style: none outside none;
    /*margin-bottom: 20px;*/
    padding: 8px 15px;
}
.breadcrumb a {color: #0078E7;}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
.breadcrumb > .active {
    color: #999999;
}

.pure-form-aligned .pure-control-cr-group {
    margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-cr-group .label-head {
    display: inline-block;
    margin: 0 1em 0 0;
    text-align: right;
    vertical-align: middle;
    width: 10em;
}
.pure-form-aligned .pure-control-cr-group .label-cr {
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    padding-right: 20px;
    vertical-align: middle;
}
.label-checkbox {
    margin: 0 !important;
    width: auto !important;
    vertical-align: middle !important;
    display: inline-block !important;
}