body {
    background: #DDDDDD;
    padding: 50px 0 0;
}

.logo {
    width: 400px;
    margin: 5px auto;
}

.content {
    width: 300px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px 20px 20px;
    margin: 0 auto;
}


